.switch-tab {
  display: flex;
  justify-content: space-between;
  border: 1px solid grey;
  width: 100%;
  padding: 0;
}
.switch-tab-item {
  list-style: none;
  cursor: pointer;
  width: 50%;
  padding: 8px;
  display: flex;
  justify-content: center;
}
.switch-tab-item.--active {
  color: red;
}
