.category-chip {
  padding: 6px 24px;
  border-radius: 30px;
  background: rgb(198, 198, 198);
  color: white;
  cursor: pointer;
  &.--active {
    background: gray;
  }
  &.--outlined {
    color: #333;
    border: 1px solid #333;
    background: #fff;
  }
}
