.blog-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.blog-date {
  color: gray;
}

.category-chips {
  display: flex;
  flex-wrap: wrap;
  :nth-child(n) {
    margin-right: 8px;
  }
}
