.article-wrapper {
  display: flex;
  justify-content: center;
}

.preview {
  width: 70%;
  max-width: 840px;
  font-size: 1.125rem;
}

.preview img {
  max-width: 100%;
  object-fit: contain;
}

.preview a {
  text-decoration: underline;
}

.preview pre {
  background: #f6f8fa;
  padding: 16px 8px;
  font-size: 16px;
  overflow-x: scroll;
}

.preview pre::-webkit-scrollbar {
  display: none;
}

.preview :global(.link-card) {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid #e3e4e7;
  overflow: hidden;
  text-decoration: none;
}
.preview :global(.link-card__inner) {
  display: flex;
  flex-direction: column;
  padding: 16px 16px 8px;
  width: 100%;
}
.preview :global(.link-card__image) {
  width: 100%;
  height: auto;
  max-height: 240px;
  object-fit: cover;
}
.preview :global(.link-card__title) {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 4px;
}
.preview :global(.link-card__description) {
  font-size: 16px;
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
