html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

p ul {
  line-height: 2rem;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.ogp-card__link {
  width: 100%;
}
.ogp-card {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1rem;
  height: 140px;
  width: 100%;
}

.ogp-card__image {
  margin-right: 16px;
}
