.app {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  width: 50vw;
}
.inner {
  padding: 8px;
  border: 1px solid gray;
  min-width: 50vw;
  min-height: 90vh;
  height: 100%;
}
