.wrapper {
  padding: 40px;
}

.navigation-wrapper {
  margin-bottom: 16px;
}

.form {
  width: 100%;
  min-height: 90vh;
  display: flex;
}

.form-inner {
  width: 100%;
  height: 100%;
}

.title-wrapper {
  margin-bottom: 16px;
}

.wrapper-row {
  display: flex;
  margin-bottom: 16px;
}

.wrapper-row label {
  margin-right: 16px;
  max-width: 200px;
}
