@import '../../styles/variables.scss';
.nav {
  position: sticky;
  top: 0;
  padding: 40px 8px;
  color: #333;
  width: 100%;
  @include mq(md) {
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    padding: 8px 16px;
    margin: 32px 0;
    position: unset;
  }
}
.list {
  padding: 0;
}
.list-item {
  list-style: none;
  margin-bottom: 16px;
}
.list-item-anchor {
  font-size: 1rem;
  font-weight: bold;
}
.list-child {
  padding-left: 16px;
  border-left: 2px solid #efefef;
}

.list-child-item {
  list-style: none;
  margin-bottom: 4px;
}
.list-child-item:first-child {
  margin-top: 8px;
}

.list-child-item-anchor {
  font-size: 1rem;
}
