.nav {
  position: sticky;
  top: 0;
  padding: 40px 8px;
  color: #333;
  width: 100%;
}
.list {
  padding: 0;
}
.list-item {
  list-style: none;
  margin-bottom: 16px;
}
.list-item-anchor {
  font-size: 1rem;
  font-weight: bold;
}
.list-child {
  padding-left: 16px;
}

.list-child-item {
  list-style: none;
  margin-bottom: 4px;
}
.list-child-item:first-child {
  margin-top: 8px;
}

.list-child-item-anchor {
  font-size: 1rem;
}
